.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
}

.App-header {
	min-height: 50%;
	padding-bottom: 10px;
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: black;
}

.App-link {
	color: #61dafb;
}

.ImageForm {
	border: 50%;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#landing-page {
	align-items: center;
	margin-top: 20%;
}

#Content {
	padding-bottom: 10px;
	/* margin-top: 10%; */
	align-items: center;
}
