body {
	margin: 0;
	padding: 0;
	font-family:  'Raleway', 'Helvetica', 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	max-height: 100%;

}

p {
	letter-spacing: 0.1rem;
	font-size: 1.1rem;
	text-transform: uppercase;
}

button {
	margin: 5em;
}

.ConnectSpotify {
	margin: 1em;
}

h1 {
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.ConnectSpotify a {
	text-decoration: none;
	color: black;
}

.colorInherit {
	color: blueviolet;
}

img {
	width: 30%;
	height: 30%;
	border-radius: 10%;
}
